<h1>Hello welcome to Yelp</h1>
<h3><%= link_to "List all restaurants", restaurants_path %></h3>
<h3><%= link_to "Best rated restaurants", top_restaurants_path %></h3>

<h3>Select a category</h3>
<% @category.each do |category| %>
<ul>
  <li><p><%= link_to category, restaurant_category_path(category) %></p></li>
</ul>
<% end %>
